.app-wrapper {
    width: 100%;

    .expenses-container {
        display: grid;
        align-items: center;
        border-style: groove;
        border-radius: 7px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        font-family: 'Grandstander', cursive;

        
        div {
            display: flex;
            width: 100%;

            
            .expense-container {
                background-color: rgb(114, 113, 120);
                margin: 20px;
                border-radius: 8px rgb(0, 0, 0);
                padding: 10px 25px 10px 25px;
                width: 100%;
                display: flex;
                text-align: center;
                flex-direction: column;
                
                

                .btn-container {
                    justify-content: space-evenly;
                    display: column;
                    align-items: center;
                    padding: 5px;
                    width: 70%;
                    font-family: 'Grandstander', cursive;

                    .btn {
                        font-family: 'Grandstander', cursive;
                        font-size: 15px;
                        background-color: rgb(141, 151, 154);
                        border-radius: 4px;
                        border: 1px solid transparent;
                        transition: 0.2s ease-in-out;
                        width: 55px;
                        height: 30px;


                        &:hover {
                            color: white;
                            border: 1px solid rgb(113, 14, 14);
                            text-shadow: 1px 1px 1px grey;
                        }

                    }
                }
            }
        }


    }
}

@media screen and (max-width: 680px) {
    .app-wrapper .expenses-container {
        font-size: 12px;
    }
}

